// {
//   "presets": [
//     "@babel/preset-env"
//   ]
// }

{
  "presets": [
    ["env", 
      {
        "targets": {
          "browsers": ["last 2 Chrome versions"]
        }
      }
    ]
  ]
}